
.headerContainer {
  background-color: #9bbc88;
}
  
  
  body {
    background: #DFD8DC;
  }

  img {
   
    padding: 5px;
    border: 10px solid black;
    margin: 50px
   
  }

  #shoppingcartbutton {

    background-color:#9bbc88;
    
    }

  .footerContainer {
    background-color: #9bbc88;
    font-style: italic;
    position: 'fixed';
    bottom: 0;
}

  
  
  
  