

  
img {
    /*display: flex;
    flex-wrap: wrap; 
    flex-direction: row-reverse;*/
    padding: 5px;
    border: 10px solid black;
    margin: 50px
   
   
  }
  
  h2 {
    color: #990000;
  }
  
  h1 {
    color: #000000;
  }
  
  h1, h2, h3, h4, nav {
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  body {
    background: #DFD8DC;
  }

  .footerContainer {
    background-color: #9bbc88;
}

  .headerContainer {
    background-color: #9bbc88;
}
  
  
  